<ion-header class="header">
  <ion-grid style="display: flex; height: 100%; flex-flow: column;">
    <!-- <div class="mt10"></div> -->
    <ion-row style="flex-grow: 1;"></ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col size="4">
        <!-- <div> -->
        <!-- <button class="avatar"></button> -->
        <!-- FIXME: @Frontend-Team Make this pretty -->
        <img
          class="avatar"
          id="avatar"
          src="{{ specialAvatarURL }}"
          alt="Avatar"
        />
        <!-- </div> -->
      </ion-col>
      <ion-col size="5">
        <!-- <div style="padding-left: 10px; padding-top: 10px;"> -->
        <!-- FIXME: @Frontend-Team Make this pretty -->
     
         
  
        <ion-row class="profile-text">
          <h3 style="margin: 0px; line-height: 1.5; align-self: flex-end;">
            {{ name }}
          </h3>
          <br />
        </ion-row>
        <ion-row class="profile-text" [hidden]="name || contact">
          <h3 style="margin-top: -9px; line-height: 1.5;">ID#{{ uid | slice: 0:8 }}</h3>
        </ion-row>
        <ion-row class="profile-text">
          <p style="margin: 0px; line-height: 1.5;">
            {{ contact | slice : 0:16 }}
          </p>
        </ion-row>
        <!-- </div> -->
      </ion-col>
      <ion-col class="col-adjust" size="1">
        <button class="edit" (click)="openUserSettings()"></button>
      </ion-col>
      <ion-col class="col-adjust" size="2">
        <button class="cancel" (click)="cancel()"></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid style="display: flex; height: 100%; flex-flow: column;">
    <div class="mt10"></div>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="gps"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="6">
        <h3>GPS anschalten</h3>
      </ion-col>
      <ion-col class="col-adjust" size="4">
        <ion-toggle [(ngModel)]="gps"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="volume"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="10">
        <ion-range
          style="margin-left: 10px; color: rgb(253, 223, 223);"
          [(ngModel)]="rangeVolume"
          pin="true"
          min="0"
          max="10"
          color="light"
          snaps="true"
          ticks="false"
        ></ion-range>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="vibra"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="6">
        <h3>Vibration zulassen</h3>
      </ion-col>
      <ion-col class="col-adjust" size="4">
        <ion-toggle [(ngModel)]="vibration"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="display"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="6">
        <h3>Display anlassen</h3>
      </ion-col>
      <ion-col class="col-adjust" size="4">
        <ion-toggle [(ngModel)]="display"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="anleitung"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="6">
        <h3>Anleitung</h3>
      </ion-col>
      <ion-col class="col-adjust" size="4">
        <button ion-button (click)="goToManualPage()" class="next"></button>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col class="col-adjust" size="2">
        <ion-icon class="hilfe"></ion-icon>
      </ion-col>
      <ion-col class="col-adjust" size="6">
        <h3>Hilfe und Feedback</h3>
      </ion-col>
      <ion-col class="col-adjust" size="4">
        <button ion-button class="feedback"></button>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col size="6">
        <button ion-button class="accountDelete" (click)="deleteAccount()">
          Account löschen
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="footer">
  <ion-grid>
    <ion-row>
      <div class="linie mt10"></div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h5 style="float: right; margin-right: 10px;">
          <a link="https://..">Datenschutzerklärung</a>
        </h5>
      </ion-col>
      <h3 style="padding-top: 4px; font-weight: 300;">|</h3>
      <ion-col size="5.5">
        <h5 style="float: left; margin-left: 10px;">
          <a link="https://..">Nutzungsbedingung</a>
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
