.header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #242323;
 
}

ion-footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #242323;

}

.body{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #242323;
    //overflow: hidden;  
    overflow: hidden;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
ion-content {
    font-family: effra;
    --padding-start: 30px; 
    --padding-end: 30px;
    --background: #242323;
   
}

ion-range {
    color:white;
}

.scroll-content {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

ion-range{
    padding: 0px;
}


.cancel {
    float: right;
    width: 50px;
    height: 50px;
    background: url('../../../../assets/settings/x-cancel.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit{
    float: right;
    width: 50px;
    height: 50px;
    background: url('../../../../assets/settings/edit.svg');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
}
#ava {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #454545;

}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../../../../assets/settings/profile-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

.gps{
    width: 45px;
    height: 30px;
    background: url('../../../../assets/settings/gps.svg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
}

.volume{
    width: 45px;
    height: 37px;
    background: url('../../../../assets/settings/volume.svg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.vibra{
    width: 45px;
    height: 30px;
    background: url('../../../../assets/settings/vibration1.svg');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
}
.display{
    width: 45px;
    height: 33px;
    background: url('../../../../assets/settings/display.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}


.anleitung{
    width: 45px;
    height: 30px;
    background: url('../../../../assets/settings/anleitung.svg');
    color: white;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
 
}

.hilfe{
    width: 45px;
    height: 35px;
    background: url('../../../../assets/settings/hilfe.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.accountDelete{
    float: left;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    font-family: effra;
    font-size: 90%;
    font-weight: 500;
    background-color: #4F4F4F;
    color: white;
}

.next{
    float: right;
    width: 74px;
    height: 36px;
    border-radius: 20px;

    background: url('../../../../assets/settings/next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
    
    
}

.feedback{
    float: right;
    width: 74px;
    height: 36px;
    border-radius: 20px;

    background: url('../../../../assets/settings/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
}

a {
    color: white;
}

.linie{
    width: 100%;
    height: 0.5px;
    border-radius: 1px;
    background-color: #4F4F4F;
}

h3{
    font-size: 19px;
    float: left;
}
h5{
    font-weight: 300;
}

p{
    font-size: 3.5vw;
    float: left;
}


/* Toggle */
 
.button-cover:before
{  
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #4F4F4F;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'Ja';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #242323;
    border-radius: 70%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'Nein';
    left: 30px;
    background-color: #242323;
}

#button-1 .checkbox:checked ~ .layer
{

    background-color: #4F4F4F;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

h3{
    font-size: 4vw;
    float: left;
}
h5{
    font-weight: 300;
}

p{
    font-size: 3.5vw;
    float: left;
}

.range-pin {
    color: white;
    font-family: sans-serif;
  }