.col-adjust{
    align-self: center;
}

.profile-text{
    height:50%;
    margin-left: -6vw;
}





.header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #242323;
 
}

ion-header {
    overflow: hidden;
}

ion-footer {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #242323;
    overflow: hidden;

}

.body{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #242323;
}

ion-content {
    font-family: effra;
    --padding-start: 30px; 
    --padding-end: 30px;
    --background: #242323;
   
}

.scroll-content {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

ion-range{
    padding: 0px;
    color:white;
}


.cancel {
    //position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    background: url('../../../../assets/settings/x-cancel.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
     background-position-x: right;
}

.edit{
   // position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    background: url('../../../../assets/settings/edit.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
}

.avatar{
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // background: url('../../../../assets/settings/profile-pic.jpg');
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: 70px;
    margin-top: 5px;
    // margin-left: 7px;
}

.gps{
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/gps.svg');
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.volume{
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/volume.svg');
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: bottom;

}

.vibra{
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/vibration.svg');
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.display{
    margin-top: 2px;
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/display.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: bottom;
}


.anleitung{
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/anleitung.svg');
    color: white;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: bottom;
 
}

.hilfe{
    width: 48px;
    height: 48px;
    background: url('../../../../assets/settings/hilfe.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.accountDelete{
    float: left;
    width: 95%;
    height: 40px;
    border-radius: 30px;
    font-family: effra;
    font-size: 70%;
    font-weight: 500;
    background-color: #4F4F4F;
    color: white;
    margin-left: 6px;
    margin-top: 5px;
}

.next{
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    margin-top: 5px;

    background: url('../../../../assets/settings/next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
    
    
}

.feedback{
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    margin-top: 5px;

    background: url('../../../../assets/settings/external-link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
}

.setting-icon {
    padding-bottom: 5px;
}

a {
    color: white;
}

.linie{
    width: 100%;
    height: 0.5px;
    border-radius: 1px;
    background-color: #4F4F4F;
}

h3{
    font-size: 4vw;
    float: left;
    margin-top: 12px;
    margin-left: 5px;
}
h5{
    font-weight: 300;
}

p{
    font-size: 3.5vw;
    float: left;
}

/* Toggle */

ion-toggle {
    --background:  #4F4F4F;
    --background-checked:  #4F4F4F;
    --background-checked:  #4F4F4F;
    --handle-background: #242323;
    // --handle-background-checked: #00ff62;
    --handle-background-checked: #242323;

    padding:0px;
    float: right;
    width: 80px;
    height: 40px;
    --border-radius: 30px;
   // margin-left: 5px;
  //  margin-top: 5px;
    
    --handle-spacing: 2px;
    --handle-width: 43px;
    --handle-height: 35.5px;
    --handle-border-radius: 40px;
    --handle-box-shadow: 0px;

    overflow: hidden;

}

ion-toggle.toggle-checked::before {
    position: absolute;

    top: 14px;
    left: 7px;
  
    content: "Nein";
  
    color: #242323;
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.3;

    z-index: 1;
}

ion-toggle.toggle-checked::after {
    position: absolute;
    text-align: center;
    top: 14px;
    right: 18px;
  
    content: "Ja";
  
    color: #00ff62;
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.3;

    z-index: 1;
}

ion-toggle::before {
    position: absolute;
    top: 14px;
    left: 10px;
  
    content: "Nein";
  
    color: white;
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.3;

    z-index: 1;
}

ion-toggle::after {
    position: absolute;
    top: 14px;
    right: 15px;
  
    content: "Ja";
  
    color: #242323;
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.3;

    z-index: 1;
}