<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button class="cancel"></button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="9" style="padding-left: 5px;">
                <div id="ava">
                    <button class="avatar"></button>
                </div>
                <div style="padding-left: 75px;">
                    <ion-row style="height: 25px; ">
                        <h3 style="margin: 0px; line-height: 1.5;">Duc Thang Duong</h3>
                    </ion-row>
                    <ion-row style="height: 25px;">
                        <p style="margin: 0px; line-height: 1.5;">+49 176 764 99803</p>
                    </ion-row>
                </div>
            </ion-col>
            <ion-col size="3">
                <button class="edit"></button>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="linie mt10"></div>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="anonym"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <h3 style="margin-top: 10px; margin-left: 5px;">Anonymes fahren</h3>
            </ion-col>
            <ion-col size="3">
                <div class="item">
                    <input type="checkbox" />
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="gps"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <h3 style="margin-top: 10px;  margin-left: 5px;">GPS anschalten</h3>
            </ion-col>
            <ion-col size="3">
                <div class="item">
                    <input type="checkbox" />
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="volume"></ion-icon>
            </ion-col>
            <ion-col size="10" >
                <ion-range style="margin-left: 10px;" [(ngModel)]="rangeVolume" pin="true" min="0" max="10" color="#4F4F4F;"></ion-range>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="vibra"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <h3 style="margin-top: 10px;  margin-left: 5px;">Vibration zulassen</h3>
            </ion-col>
            <ion-col size="3">
                <div class="item">
                    <input type="checkbox" /> <!-- onclick='handleClick(this);' -->
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="display"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <h3 style="margin-top: 10px;  margin-left: 5px;">Display anhalten</h3>
            </ion-col>
            <ion-col size="3">
                <div class="item">
                    <input type="checkbox" /> <!-- onclick='handleClick(this);' -->
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-icon class="hilfe"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <h3 style="margin-top: 10px;  margin-left: 5px;">Hilfe und Feedback</h3>
            </ion-col>
            <ion-col size="3">
                <button ion-button class="next"></button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <button ion-button class="accountDelete">Account löschen</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <div class="linie mt5"></div>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <h5 style="float: right;"><a link="https://..">Datenschutzerklärung</a></h5>
            </ion-col>
            <h3 style="padding-top: 4px; font-weight: 300;">|</h3>
            <ion-col size="5.5">
                <h5 style="float: left;"><a link="https://..">Nutzungsbedingung</a></h5>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>