<ion-content fullscreen scroll-y="false">
    <ion-slides  pager="true"  pager="false" #mySlider>
  
  
      <ion-slide>
        <div (click)="swipeNext">
        <img src="../../../../assets/tutorials/explain_search.svg"/>
      </div>
        <p class="pstyle1">Über die Suchleiste gibst du ein,<br>wo du hin willst.</p>
        <ion-row>
          <ion-col class="ion-text-right">
            <div style="margin-top: 43vh;">
              <ion-button (click)="swipeNext()"  class="b-btn primary">
                  <ion-icon style="color:black" slot="icon-only" name="arrow-forward"></ion-icon>
              </ion-button>
              </div>
          </ion-col>
      </ion-row>
      </ion-slide>
  
      <ion-slide>
        <div (click)="swipeNext">
        <img src="../../../../assets/tutorials/explain_profile_cropped.svg.png" style="width:55vw; margin-left: 45%;"/>
        <p class="pstyle2">Dein Profil und alle weiteren<br>Einstellungen findest du hier.</p>  
      </div>
  
        <ion-row>
          <ion-col class="ion-text-right">
            <div style="margin-top: 37vh;">
              <ion-button (click)="swipeNext()"  class="b-btn primary">
                  <ion-icon style="color:black" slot="icon-only" name="arrow-forward"></ion-icon>
              </ion-button>
              </div>
          </ion-col>
      </ion-row>
      </ion-slide>
  
      <ion-slide>
        <div (click)="swipeNext">
        <img src="../../../../assets/tutorials/explain_person.svg" style="width: 65vw; margin-top: 20vh; text-align: center;" alt="">
          </div>
          <br/>
          <p class="pstyle1">There you are! Das ist dein Standort.<br>Die anderen Punkte?
          Das sind<br>Andere die RIOD benutzen!</p>
          <br/>
          <ion-row>
            <ion-col class="ion-text-right">
                <ion-button (click)="swipeNext()"  class="b-btn primary">
                    <ion-icon style="color:black" slot="icon-only" name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
      </ion-slide>
  
      <ion-slide>
        <div class="slide" style="margin-top: 45vh;">
          <p class="pstyle1">Über diesen Switch wechselst du<br>zwishen Karte & Indicator. Das
            brauchstdu um während<br>der Fahrt als Verband kenntlich zu<br>sein.
          </p>
          <ion-button (click)="dismiss()" fill="clear" style="text-align:right;">
          <p class="pstyle1" style="font-size: 14px;"> Clicke um Tutorial zu beenden</p>
          <ion-icon style = "color:white" name="arrow-forward-outline"></ion-icon>
          </ion-button>
          <br/><br/>
          <div (click)="dismiss()">
            <img src="../../../../assets/tutorials/explain_toggle.svg" style="width:70%; margin-left: 50%;">
          </div>
     </div>
      </ion-slide>
  
    </ion-slides>
  </ion-content>