<div class="over">
    <div class="wrap1">
        <button ion-button id="btn1"></button>
    </div>
    <div class="wrap">
        <div class="icon">
            <button ion-button id="btn2"></button>
        </div>
        <div class="h15">
            <p>Ankunft in</p>
        </div>
        <div class="h35">
            <h2>3 Min</h2>
        </div>
    </div>
    <div class="wrap wrap2">
        <div class="icon">
            <button ion-button id="btn3"></button>
        </div>
        <div class="h15">
            <p>Bald da</p>
        </div>
        <div class="h35">
            <h2>6</h2>
        </div>
    </div>
    <div class="wrap">
        <div class="item">
            <input type="checkbox" /> <!-- onclick='handleClick(this);' -->
        </div>
    </div>
</div>