<ion-header
  style="
    background-color: #383838;
    height: 12vh;
    border-radius: 12px 12px 0px 0px;
  "
  mode="ios"
  id="header"
>
  <ion-grid>
    <ion-row style="height: 30%;">
      <ion-col>
        <div class="wrap1">
          <button ion-button class="btn1" id="hide-div"></button>
          <button ion-button class="btn1" id="show-div" hidden="true"></button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="selectAP" >
      <ion-col>
        <button ion-button id="createRouteButton" (click)="startRoute()" [disabled]="disableCreateButton">
          ROUTE ERSTELLEN
        </button>
      </ion-col>
      <ion-col size="3">
        <button ion-button name="cancel" id="cancel" (click)="closeView()" hidden>
          <ion-icon
            name="close-outline"
            style="font-size: 30px; color: white; --ionicon-stroke-width: 30px;"
          ></ion-icon>
        </button>
        <button ion-button name="trash" id="trash" (click)="deleteAPPoints()" hidden>
          <ion-icon
            name="trash-outline"
            style="font-size: 30px; color: white; --ionicon-stroke-width: 20px;"
          ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <!-- Other view -->
    <ion-row id="startRoute" hidden>
      <ion-col>
        <button ion-button id="startButton" (click)="startNavi()">
          START
        </button>
      </ion-col>
      <ion-col>
        <ion-row>
          <h2>{{infoArray[0]}}</h2>
        </ion-row>
        <ion-row>
          <h3>{{infoArray[1]}}</h3>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <button ion-button id="edit" (click)="goBackToCreateRoute()">
          <ion-icon
            name="create-outline"
            style="font-size: 30px; color: white; --ionicon-stroke-width: 20px;"
          ></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-header>

<ion-content style="--background:#383838 !important; top:-1px" >
  <ion-grid  style="padding: 0px;" >
    <ion-row>
      <ion-col size="2" style="padding: 0px;">
        <ion-icon id="userPosition"></ion-icon>
      </ion-col>

      <ion-col style="padding: 0px;">
        <ion-row style="height: 37%;" [hidden]="hidePlaceholder">
          <ion-col style="height: 36px; width:30px; padding: 0px;" *ngFor="let a of placeholder">
            <ion-icon id="unselectedAP"></ion-icon>
          </ion-col>
        </ion-row>
        <!-- TODO make me pretty -->
        <ion-row style="height: 55%;" [hidden]="hideselectedAp" >
          <ion-col style="height: 36px; width:30px; padding: 0px;" *ngFor="let a of seletectedAPs">
              <ion-icon id="selectedAP"></ion-icon>
              <p style="font-weight: 700; color:white">{{a.textField}}</p>
              <p style="color:white">{{a.name}}</p>
          </ion-col> 
        </ion-row>
        <ion-row style="height: 6%;">
          <ion-icon id="line"></ion-icon>
        </ion-row>
        <ion-row id="infoText" style="height: 8%; color: white;">
          <p>Wähle die Sammelpunkte auf der Karte zwischen dem Standort und dem Ziel aus.</p>
        </ion-row>
      </ion-col>

      <ion-col size="2" style="padding: 0px">
        <ion-icon id="destination"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
