.btn1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../../assets/icon/swipe-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-size: 3.5vw;
  margin: 0px;
  line-height: 25px;
}

h2 {
  font-size: 5.5vw;
  margin: 0px;
  line-height: 36px;
}

#createRoute {
  // float: left;
  width: 60%;
  height: 35px;
  border-radius: 30px;
  font-family: effra;
  font-size: 75%;
  font-weight: 700;
  margin-left: 15px;
  margin-top: 10px;
}

#cancel {
  // float: right;
  width: 70%;
  border-radius: 30px;
  background-color: #4f4f4f;
  margin-right: 15px;
  margin-top: 10px;
}

#trash {
  z-index: 2;
  float: right;
  width: 20%;
  border-radius: 30px;
  background-color: #4f4f4f;
  margin-right: 15px;
  margin-top: 10px;
}

.wrap1 {
  width: 100%;
  height: 20px;
}

.wrap {
  width: 100%;
//   height: 20px;
  position: relative;
  text-align: center;
}

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100vh - 144px);
  z-index: 9999;
}

ion-grid {
    height: 100%;
}

#infoText {
    height: 20%;
}
