<ion-header
  style="
    background-color: #383838;
    height: 12vh;
    border-radius: 12px 12px 0px 0px;
  "
  mode="ios"
  id="header"
>
  <ion-grid>
    <ion-row style="height: 20%;">
      <ion-col>
        <div class="wrap1">
          <button ion-button class="btn1" id="hide-div"></button>
          <button ion-button class="btn1" id="show-div" hidden="true"></button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="infoText">
      <ion-col>
        <div class="wrap">
          <p>Sammelpunkte anzeigen</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <button ion-button id="createRoute" (click)="startRoute()">
          ROUTE ERSTELLEN
        </button>
      </ion-col>
      <ion-col size="3">
        <button ion-button id="cancel" (click)="closeView()">
          <ion-icon
            name="close-outline"
            style="font-size: 30px; color: white; --ionicon-stroke-width: 30px;"
          ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <h1>halloooootest</h1>
  <!-- <ng-content ></ng-content> -->
</ion-content>
