ion-grid {
  height: 100%;
  width: 100%;
}

ion-header {
  padding-left: 18.75px;
  padding-right: 18.75px;
}


.btn1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../../assets/icon/swipe-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-size: 3vw;
  margin: 0px;
  line-height: 12px;
  text-align: center;
}

h2 {
  font-size: 5.5vw;
  margin: 0px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 4vw;
  margin: 0px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

#createRouteButton {
  width: 60%;
  height: 35px;
  border-radius: 30px;
  font-family: effra;
  font-size: 75%;
  font-weight: 700;
}

#startButton {
    width: 85%;
    height: 35px;
    border-radius: 30px;
    font-family: effra;
    font-size: 75%;
    font-weight: 700;
}

#cancel {
  width: 90%;
  border-radius: 30px;
  background-color: #4f4f4f;
  float: right;
}

#trash {
  z-index: 2;
  width: 90%;
  border-radius: 30px;
  background-color: #4f4f4f;
  float: right;
}

#edit {
    z-index: 3;
    width: 90%;
    border-radius: 30px;
    background-color: #4f4f4f;
    float: right;
  }

.wrap1 {
  width: 100%;
  height: 20px;
}

.wrap {
  width: 100%;
  position: relative;
  text-align: center;
}

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100vh - 144px);
  z-index: 9999;
}

#userPosition {
    float: right;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/standort.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
}

#destination {
    float: left;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/ziel.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
}

#line {
  width: 100%;
  background: url('../../../assets/icon/line.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#infoText {
  padding-top: 15px;
}

#unselectedAP {
  width: 30px;
  height: 36px;
  background: url('../../../assets/icon/platzhalter.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

#selectedAP {
  width: 33.35px;
  height: 37.19px;
  background: url('../../../assets/icon/Sammelpunkt.svg');
  background-repeat: no-repeat;
  background-size: 31px;
  background-position: center;
}
