ion-grid {
  height: 100%;
  width: 100%;
}

.btn1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../../assets/icon/swipe-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-size: 3.5vw;
  margin: 0px;
  line-height: 25px;
}

h2 {
  font-size: 5.5vw;
  margin: 0px;
  line-height: 36px;
}

#createRouteButton {
  width: 60%;
  height: 35px;
  border-radius: 30px;
  font-family: effra;
  font-size: 75%;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 10px;
}

#startButton {
    width: 50%;
    height: 35px;
    border-radius: 30px;
    font-family: effra;
    font-size: 75%;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 10px;
}

#cancel {
  width: 70%;
  border-radius: 30px;
  background-color: #4f4f4f;
  margin-right: 15px;
  margin-top: 10px;
}

#trash {
  z-index: 2;
  width: 70%;
  border-radius: 30px;
  background-color: #4f4f4f;
  margin-right: 15px;
  margin-top: 10px;
}

#edit {
    z-index: 3;
    width: 70%;
    border-radius: 30px;
    background-color: #4f4f4f;
    margin-right: 15px;
    margin-top: 10px;
  }

.wrap1 {
  width: 100%;
  height: 20px;
}

.wrap {
  width: 100%;
//   height: 20px;
  position: relative;
  text-align: center;
}

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100vh - 144px);
  z-index: 9999;
}

#userPosition {
    float: left;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/standort.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#destination {
    float: right;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/ziel.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

// #infoTextIN {
//     visibility: visible;
//     opacity: 1;
//     transition: visibility 0s linear 0s, opacity 1000ms;
// }

// #infoTextOUT {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0s linear 300ms, opacity 1000ms;
// }

