.over {
  background-color: #383838;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  padding-top: 30%;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  .wrap {
    width: 100%;
    text-align: center;
    .icon1{
      width: 100%;
    }
    .icon2{
     
      width: 100%;
    }
  }
}
#homeIcon{
  background: url('../../../assets/icon/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#heartIcon{
  background: url('../../../assets/icon/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#shoppingIcon{
  
  background: url('../../../assets/icon/shopping-cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#starIcon{
  background: url('../../../assets/icon/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#workIcon{
  
  background: url('../../../assets/icon/briefcase.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#bookIcon{
  
  background: url('../../../assets/icon/book.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
#bookIcon:focus, #workIcon:focus, #starIcon:focus, #shoppingIcon:focus, #homeIcon:focus, #heartIcon:focus{
  background-color:fuchsia;
}
.saveFavorite {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 60%;
  height: 50px;
  border-radius: 25px;
  font-family: effra;
  font-size: 90%;
  font-weight: 500;
  background-color: white;
  color: #4f4f4f;
}
.favorIcons {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.cancel {
  margin: 0 auto;
  display: block;
  width: calc((50% - 20px) / 2);
  height: 40px;
  left: 50%;
  border-radius: 20px;
  background: url("../../../assets/icon/cancel.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4f4f4f;
}
