.footer-md::before{
    background-image: none;
}

.mapboxgl-ctrl-geolocate {
    display: block;
    
}

#closeWindow {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #454545;
    float: right;
    margin-top: 4.5px;
    margin-right: 4.5px;
}