<div class="over">
    <div class="wrap">
        <input class="search" placeholder="Hier suchen.." />
        <button class="btn"><img src="'../../../assets/settings/profile-pic.jpg" alt="Avatar"></button>
    </div>
    <div class="container">
        <div class="scroll" scrollX="true">
            <span style="margin-left: 0px;">
                <ion-button class="s-btn primary">
                    <ion-icon name="home-outline"></ion-icon>
                </ion-button>
            </span>
            <span style="margin-left: 10px;">
                <ion-button class="s-btn primary">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </ion-button>
            </span>
            <span style="margin-left: 10px;">
                <ion-button class="s-btn primary">
                    <ion-icon name="heart-outline"></ion-icon>
                </ion-button>
            </span>
            <span style="margin-left: 10px;">
                <ion-button class="s-btn primary">
                    <ion-icon name="barbell-outline"></ion-icon>
                </ion-button>
            </span>
            <span style="margin-left: 10px;">
                <ion-button class="s-btn primary">
                    <ion-icon name="restaurant-outline"></ion-icon>
                </ion-button>
            </span>
        </div>
    </div>
</div>