.over {
  background-color: #383838;
  width: 100vw;
  height: 30vw;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
  position: relative;
  
  .rand {
    
      
    
    
    .arrow {
      display: none;
      visibility: hidden;
    }

    .wrap {
      width: 100%;
      float: right;
      padding-left: 20px;
      padding-right: 10px;
      height: 50px;
      border-radius: 7px;
      background-color: #4f4f4f;
      transition: 0.2s;
      
      .search {
        background-color: transparent;
        width: 75%;
        height: 50px;
        float: left;
        border: 0px;
      }

      .ava {
        width: 50px;
        height: 50px;
        float: right;
        background-color: transparent;
      }
    }
    
    
  }

  img {
    border-radius: 50%;
  }

  .container {
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;

    ::-webkit-scrollbar {
      display: none;
    }
    
    
    .scroll {
      overflow: auto;
      margin-top: 10px;
    }
  }
}

span {
  background: transparent;
}
.container-1{
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
}

.edit{
  
  --border-radius: 30px;
  font-size: 18px;
  float: left;
  width: 70px;
  height: 40px;
  text-transform: none;
  border: 2px solid #4f4f4f;
  border-radius: 30px;
  background: url('../../../assets/icon/edit-2.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#saveBtn{
  background: url('../../../assets/icon/save.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

#home-outline{
  background: url('../../../assets/icon/homeW.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#heart-outline{
  background: url('../../../assets/icon/heartW.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#basket-outline{
  
  background: url('../../../assets/icon/shopping-cartW.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#star-outline{
  background: url('../../../assets/icon/starW.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#briefcase-outline{ 
  background: url('../../../assets/icon/briefcaseW.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#book-outline{
  
  background: url('../../../assets/icon/bookW.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.listElement {
  animation: popIn 0.2s calc(var(--animation-order) * 15ms) both ease-in;
  margin-bottom: 5px;
}

@keyframes popIn {
  0% {

    transform: translateY(+10px) translateX(+0px);
  }

  100% {

    transform: none;
  }
}