
<ion-header style="background-color: #383838; height: 12vh; border-radius: 12px 12px 0px 0px;" mode="ios" id="header">
  <ion-grid> 
  <ion-row [hidden]="lastLeg">
     <ion-col  size="2">
      <h1 class="icon-align"><ion-icon slot="start" name="flag-outline"></ion-icon></h1>
     </ion-col>
     <ion-col size="2">
      <ion-row class="text-row top"><h4 class="text toptext">Ankunft:</h4></ion-row>
      <ion-row class="text-row"><h3 class="text">{{timeToTarget}}</h3></ion-row>
    </ion-col>

    <ion-col size="8"></ion-col>
   </ion-row>

   <ion-row [hidden]="sammelpunktLeg">
    <ion-col  size="2">
     <h1 class="icon-align"><ion-icon slot="start" src="../../../assets/icon/assemblypoint1.svg"></ion-icon></h1>
    </ion-col>
    <ion-col size="2">
     <ion-row class="text-row top"><h4 class="text toptext">Ankunft</h4></ion-row>
     <ion-row class="text-row"><h3 class="text">{{timeToTarget}}</h3></ion-row>
   </ion-col>
   <ion-col  size="2">
     <h1 class="icon-align"><ion-icon slot="start" name="bike"></ion-icon></h1>
    </ion-col>
    <ion-col size="2">
     <ion-row class="text-row top"><h4 class="text toptext">Bald da:</h4></ion-row>
     <ion-row class="text-row"><h3 class="text">5</h3></ion-row>
   </ion-col>
   <ion-col size="4"></ion-col>
  </ion-row>

  </ion-grid>
  <!-- <ion-toolbar mode="md">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar> -->
</ion-header>
 <ion-content>
   <h1>halloooootest</h1>
   <!-- <ng-content ></ng-content> -->
</ion-content>