:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(100vh - 144px);
    z-index: 100;
}

ion-content{
    --background: #222222 ;
}

.text-row {
    height: 50%;
}
.top {
    align-items: flex-end;
    opacity: 0.5;
}

.icon-align {
    text-align: right;
}

.text {
    margin: 0 !important;
}

.toptext {
    font-size: 12px;
}

.info-text{
opacity: 0.2;
//font-size: 2.5vh;
}

.info-margin{
    margin-top: -2vh;
}

.padding-top{
    padding-top: 0px;
}

.margin-row{
    margin-top: -14px;
}
#timeRect {
    border-radius: 25px;
    text-align: center;
    background: #4f4f4f;
    padding: 1.5vh;
    padding-bottom: 1vh;
    //margin-top: 2.5vh;
}

.swipe-indicator {
    background-color: #4f4f4f;
    border-radius: 15px;
    height: 6px;
    width: 100%;
    opacity: 0.2;
}


