
<ion-header style="background-color: #383838; height: 10.5vh; min-height: 88px; border-radius: 12px 12px 0px 0px;" mode="ios" id="header">
  <ion-grid> 
    <ion-row >
      <ion-col size="5"></ion-col>
      <ion-col size="2" style="padding-bottom: 0px;">
        <div class="swipe-indicator"></div>
      </ion-col>
      <ion-col size="5"></ion-col>

    </ion-row>
  <ion-row [hidden]="lastLeg" class="margin-row">
     <ion-col class="padding-top" size="2">
      <h1 class="icon-align"><ion-icon slot="start" name="flag-outline"></ion-icon></h1>
     </ion-col>
     <ion-col class="padding-top" size="2">
      <ion-row class="text-row top"><h4 class="text toptext">Ankunft:</h4></ion-row>
      <ion-row class="text-row"><h3 class="text">{{timeToTarget}}</h3></ion-row>
    </ion-col>

    <ion-col size="8"></ion-col>
   </ion-row>

   <ion-row [hidden]="atSammelpunkt" class="margin-row">
    <ion-col  class="padding-top" size="2">
     <h1 class="icon-align"><ion-icon slot="start" name="bicycle-outline"></ion-icon></h1>
    </ion-col>
    <ion-col class="padding-top" size="2">
     <ion-row class="text-row top"><h4 class="text toptext">Bald da</h4></ion-row>
     <ion-row class="text-row"><h3 class="text">7</h3></ion-row>
   </ion-col>
    <ion-col class="padding-top" style="align-self: center;" size="4">
      <p id="timeRect">02:24</p>
   </ion-col>
   <ion-col class="padding-top" size="4"></ion-col>
  </ion-row>



  <ion-row [hidden]="toSammelpunktLeg" class="margin-row">
    <ion-col  class="padding-top" size="2">
     <h1 class="icon-align"><ion-icon slot="start" src="../../../assets/icon/assemblypoint1.svg"></ion-icon></h1>
    </ion-col>
    <ion-col class="padding-top" size="2">
     <ion-row class="text-row top"><h4 class="text toptext">Ankunft</h4></ion-row>
     <ion-row class="text-row"><h3 class="text">{{timeToTarget}}</h3></ion-row>
   </ion-col>
   <ion-col  class="padding-top" size="2">
     <h1 class="icon-align"><ion-icon slot="start" name="bicycle-outline"></ion-icon></h1>
    </ion-col>
    <ion-col class="padding-top" size="2">
     <ion-row class="text-row top"><h4 class="text toptext">Bald da:</h4></ion-row>
     <ion-row class="text-row"><h3 class="text">5</h3></ion-row>
   </ion-col>
   <ion-col class="padding-top" size="4">

   </ion-col>
  </ion-row>

  </ion-grid>
  <!-- <ion-toolbar mode="md">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar> -->
</ion-header>
 <ion-content >
    <ion-row [hidden]="lastLeg"  class="info-margin">
     <ion-col size="9">
      <p class="info-text">in {{timeToTarget}} hast du dein Ziel erreicht!</p>
     </ion-col>
     <ion-col size="3">
     </ion-col>
  </ion-row>

  <ion-content>
    <ion-row [hidden]="atSammelpunkt" class="info-margin" >
      <ion-col size="9">
       <p class="info-text">in maximal {{timeToTarget}} werden 7 weitere RIODS zusammen mit dir weiterfahren.</p>
      </ion-col>
      <ion-col size="3">
      </ion-col>
   </ion-row> 

  <ion-row [hidden]="toSammelpunktLeg" class="info-margin" >
    <ion-col size="9">
      <!-- <h1>hallooo</h1> -->
     <p class="info-text">Fahre zu dem nächsten Sammelpunkt auf deiner Route</p>
    </ion-col>
    <ion-col size="3">
    </ion-col>
 </ion-row>
   <!-- <ng-content ></ng-content> -->
</ion-content>