:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(100vh - 144px);
    z-index: 9999;
}

.text-row{
    height: 50%;
}
.top{
    align-items: flex-end;
    opacity: 0.50;
    
}



.icon-align {
  text-align: right;
  }
  



.text{
    margin:0 !important;
}

.toptext{
    font-size: 12px ;
}