<ion-header no-shadow class="header ion-no-border">
  <ion-row>
    <ion-col class="ion-text-left">
      <ion-button (click)="back()" class="mt20 l-header-btn">
        <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-button (click)="back()" class="mt20 r-header-btn">
        <ion-icon slot="icon-only" color="dark" name="help"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content fullscreen class="signup-background">
  <div class="div20"></div>
  <ion-row>
    <ion-col size="12">
      <h1>Anmelden</h1>
      <h2 class="mt20">
        Melde dich mit deiner Handynummer an und starte direkt durch!
      </h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-input
      
      class="default-input  mt40"
      placeholder="   +49 157 816 746 85"
    ></ion-input>
  </ion-row>
</ion-content>

<ion-footer class="footer" no-shadow>
  <ion-row>
    <ion-col class="12">
      <ion-row> <p style="margin: 0;">oder anmelden mit:</p></ion-row>
      <ion-row>
        <ion-button class="external_button" color="light" shape="round">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="external_button" color="light" shape="round">
          <ion-icon slot="icon-only" name="logo-facebook"> </ion-icon>
        </ion-button>

        <ion-button class="external_button" color="light" shape="round">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-button (click)="DEMONextPage()" color="dark" class="b-btn primary">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
