<ion-header no-shadow class="header ion-no-border">
  <ion-row>
    <ion-col class="ion-text-left">
      <ion-button (click)="back()" class="mt20 l-header-btn">
        <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-button (click)="back()" class="mt20 r-header-btn">
        <ion-icon slot="icon-only" color="dark" name="help"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content fullscreen class="signup-background">
  <div class="div20"></div>
  <ion-row>
    <ion-col size="12">
      <h1>Name</h1>
      <h2 class="mt20">
        Wie möchtest du genannt werden?
      </h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-input
      [(ngModel)]="name"
      class="default-input mt40"
      placeholder="Dein Name"
    ></ion-input>
  </ion-row>
</ion-content>

<ion-footer class="footer" no-shadow>
  <ion-row>
  
    <ion-col class="ion-text-right">
      <ion-button (click)="saveName()" color="dark" class="b-btn primary">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
