<div class="over" id="myOver">
    <div class="wrap1">
        <button ion-button class="btn1" id="hide-div" (click)="hideMore()"></button>
        <button ion-button class="btn1" id="show-div" (click)="showMore()"></button>
    </div>
    <div class="wrap wrap2">
        <div class="icon">
            <button ion-button id="btn3"></button>
        </div>
        <div class="h15">
            <p>Warten auf:</p>
        </div>
        <div class="h35">
            <h2>6</h2>
        </div>
    </div>
    <div class="wrap wrap3">
        <div class="icon">
            <button ion-button id="btn2-toChange">2:49</button>
        </div>
    </div>
    <div class="wrap">
        <div class="item">
            <input type="checkbox" class="riod-toggle" /> <!-- onclick='handleClick(this);' -->
        </div>
    </div>
</div>
<div class="wrap-progess" id="hide">
    <div class="progess-full"></div>
</div>
