ion-content {
    font-family: effra;
    --padding-top: 0vh;
    --padding-bottom: 0vh;
    --padding-start: 0vw;
    --padding-end: 0vw;
    --background: rgba(0, 0, 0, 0.3) !important;
}


ion-slides {
    height: 100%;
    stroke: white !important;
  }

  .swiper-slide {
    display: block;
    stroke: white !important;

  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
    stroke: white !important;

  }



 .pstyle1 {
        font-family: effra;
        font-size: 35px;
        font-weight: bold;
        color:white;
        opacity: 0.87;
        text-align: left;
        padding-left:10vw;
        padding-right:5vw; 
  }

  .pstyle2 {
    font-family: effra;
    font-size: 20px;
    color:white;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-left:10vw;
    padding-right:5vw;
}

.primary {
  --box-shadow: white;
  --background:white;
  padding-right: 8%;
  padding-bottom: 8%;
}
