/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*global override*/
:root {
    ion-input {
        --background: #595959;
    }

}

ion-content {
    font-family: effra;
    --padding-top: 1vh;
    --padding-bottom: 1vh;
    --padding-start: 5vw;
    --padding-end: 5vw;
}

//Style for searchbar only in Global
.searchbar-search-icon { display:none; width:0; height:0; }
.searchbar-input {
   padding-left: 9px !important;
    height: 50px !important;
    max-width: 400px;
   // font-size: 1.25em !important;
   
}
    
ion-buttons {
    --background: #595959;
}

ion-toolbar {
    --background: #454545;
    --ion-color-base: transparent !important;
}

.header {
    height: 13vh !important;
    --background: #454545;
}

.footer {
    height: 13vh !important;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*buttons*/
.s-btn {
    --border-radius: 30px;
    font-size: 18px;
    width: 70px;
    height:40px;
    /*Default padding seems nice*/
    // --padding-bottom: 10px;
    // --padding-top: 10px;
    // --padding-end: 20px;
    // --padding-start: 20px;
    text-transform: none;
}

.b-btn {
    --border-radius: 9px;
    font-size: 18px;
    --padding-bottom: 35px;
    --padding-top: 35px;
}

.t-btn {
    --background: var(--ion-color-background);
    --border-radius: 9px;
    color: #000000;
    font-size: 18px;
    --padding-bottom: 35px;
    --padding-top: 35px;
    --box-shadow: none;
    text-transform: none;
}

.secondary {
    --box-shadow: none;
}

.primary {
    --box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.25);
    --background: #4f4f4f;
}

.l-header-btn {
    --background: var(--ion-background-color);
    --padding-start: 0px;
    --padding-bottom: 35px;
    --padding-top: 35px;
    font-size: 18px;
    --box-shadow: none;
}

.r-header-btn {
    --background: var(--ion-background-color);
    --padding-end: 0px;
    --padding-bottom: 35px;
    --padding-top: 35px;
    font-size: 18px;
    --box-shadow: none;
}

/*currently not in use */
ion-searchbar {
    border-radius: 30px !important;
    --background: red;
    --color: red;
    --icon-color: #red;
    --placeholder-color: var(--ion-color-light);
    --box-shadow: none;

    & input {
        box-shadow: none !important;
    }
}

.searchbar-md .searchbar-input {
    color: #f00;
    border-radius: 25px;
}

.default-input {
    background: var(--ion-color-light);
    border-radius: 6px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}

/*typo*/
h1 {
    font-family: effra;
    font-weight: bold;
    font-size: 40px;
    opacity: 0.87;

}

h2 {
    font-family: effra;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.87;
}

h3 {
    font-family: effra;
    font-weight: 500;
    font-size: 18px;
    opacity: 0.87;
    color: white;
}

h4{
    font-family: effra;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.87;
    color: white;
}

h5{
    font-family: effra;
    font-weight: 500;
    font-size: 13.28px;
    opacity: 0.87;
    color: white;
}

h6{
    font-family: effra;
    font-weight: 500;
    font-size: 10.72px;
    opacity: 0.87;
    color: white;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.75;
    font-family: effra;
}

/*margins and placeholders*/

/*div heights*/

.div20 {
    height: 20vh;
}

.div30 {
    height: 30vh;
}

/*margin-top*/
.mt5{
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt60 {
    margin-top: 60px;
}
.mt40 {
    margin-top: 40px;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.modal-wrapper, .inner-scroll{
    background: transparent !important;
  }

