<div class="over">
  <div class class="wrap">
    <div class="arrow">
      <button ion-button class="back-btn" id="back" (click)="back()"
        style="background-color: transparent; margin-top: 10px; padding: 0;">
        <ion-icon slot="icon-only" style="color: white; width: 30px; height: 30px;" name="arrow-back">
        </ion-icon>
      </button>
    </div>
    <div>
      <h3 style="
          background-color: transparent;
          width: 90%;
          padding-right: 5%;
          float: right;
        ">
        Meine Favoriten
      </h3>
    </div>
    <div id="list-addresses">
      <div style="
          overflow: auto;
          width: 100%;
          height: 350px;
          float: left;
          background-color: transparent;
          margin-top: 25px;
        " id="container">
        <ion-reorder-group (ionItemReorder)="doReorder($event)">
          <div class="listElement" *ngFor="let shortcut of favorList">
            <ion-item >
              <div style="background: #383838; padding: 0;">
              <ion-row>
                <ion-col size="2">
                  <button class="ava" style="
                      padding-top: 50%;
                      opacity: 0.87;
                      background-color: transparent;
                    " (click)="saveRoute()">
                    <ion-icon name="{{ shortcut.iconName }}" style="width: 25px; height: 25px; color: white;">
                    </ion-icon>
                  </button>
                </ion-col>
                <ion-col size="8">
                  <h5 style="
                    text-align: left;
                    margin-top: 5px;
                    padding-top: 10px;
                    margin-bottom: 0px;
                    padding-bottom: 1px;
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                  ">
                    {{ shortcut.street }}
                  </h5>
                  <h5 style="
                    margin-top: 5px;
                    color: white;
                    font-weight: 300;
                    font-size: 15px;
                  ">
                    {{ shortcut.city }}
                  </h5>
                </ion-col>
                <ion-col size="2" >
                  <button class="ava" style="
                    padding-top: 50%;
                    background-color: transparent;
                  " (click)="deleteFavor(shortcut)" >
                    <ion-icon name="trash-outline" [hidden]="hideTrash" style="width: 25px; height: 25px; color: white;"></ion-icon>
                  </button>
                  <ion-reorder [hidden]="hideMove"></ion-reorder>
                </ion-col>
              </ion-row>
            </div>          
            </ion-item>   
          </div>
        </ion-reorder-group>
      </div>
    </div>
    <div>
      <button ion-button class="move-favor" (click)="changeSequence()">
        <p [hidden]="hideChange">Reihenfolge ändern</p>
        <p [hidden]="hideSave">Reihenfolge speichern</p>
      </button>
    </div>
    <div>
      <button ion-button class="save-favor" (click)="saveChanges()">
        Änderungen speichern
      </button>
    </div>
  </div>
</div>