ion-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #242323;
    overflow: hidden;
}

ion-footer {
    overflow: hidden;
}

ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #242323 !important;

}

.footer {
    height: 13vh !important;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #242323;

}

// .question {
//     float: left;
//     width: 50px;
//     height: 50px;
//     background: url('../../../../assets/settings/question.svg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

.cancel {
    float: right;
    width: 50px;
    height: 50px;
    background: url('../../../../assets/settings/x-cancel.svg');
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: effra;
    opacity: 0.75;
    text-align: center;
    font-size:5vh;
    color: white;
}

input {
    width: 100%;
    height: 50px;

}

p, a {
    color:white;
    font-size: 11px;
}



.name {
    border-radius: 5px;
    background-color: #4F4F4F;
    border: 0px;
    padding-left: 20px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.75;
    /* Firefox */
    font-family: effra;

}

// .profil-border {

//     height: 160px;
//     background: url('../../../../assets/settings/profil-border.svg');
//     background-repeat: no-repeat;
//     background-position: center;

// }

// .avatar {
//     width: 140px;
//     height: 140px;
//     background: url('../../../../assets/settings/profile-pic.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
//     border-radius: 50%;
//     margin-top: 10px;
//     background-size: 140px;
// }

// .take-picture {
//     float: right;
//     width: 70px;
//     height: 40px;
//     margin-right: 10px;
//     background: url('../../../../assets/settings/take-picture-btn.svg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

// .delete {
//     float: left;
//     width: 70px;
//     height: 40px;
//     margin-left: 10px;
//     background: url('../../../../assets/settings/delete-btn.svg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

.abbrechen {
    float: left;
    width: 95%;
    height: 40px;
    border-radius: 30px;
    font-family: effra;
    font-size: 90%;
    font-weight: 500;
    background-color: #4F4F4F;
    color: white;
}

.speichern {
    float: right;
    width: 95%;
    height: 40px;
    border-radius: 30px;
    font-family: effra;
    font-size: 90%;
    font-weight: 500;
    background-color: white;
    color: #4F4F4F;
}