:host{
    z-index: 200;
}


*:before,
  *:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  .item {
      /*
      //replaced with positioning ob the component itself
      align-self: stretch;
      padding-top: 1rem;
      padding-right: 20px;
      padding-bottom: 1rem;
      padding-left: 0px;
      margin-right: 1rem;
     
      text-align: right;
 */
      &:not(:last-of-type) {
          border-bottom: 1px solid #ccc;
      }
  }

  $input-bg-static: #4F4F4F;
  $input-bg-pseudo-active: #FFe500; 
  $input-bg-pseudo-static: #F2F2f2;


  $input-width: 80px; // adjust only this number for dimensions

  $input-radius: calc(#{$input-width} / 2);
  $input-height: calc(#{$input-width} / 2);

  .knob-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
  }


  input[type="checkbox"] {
      position: relative;
      appearance: none;
      width: $input-width;
      height: $input-height;
      //background: url('../../../assets/icon/map-riod.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: $input-radius;
      background-color: $input-bg-static;
      outline: none; 
      transition: background 450ms ease;
      box-shadow: 0 0 0 2px darken($input-bg-static, 7.5%);

      &:before,
      &:after {
          position: absolute;
          display: block;
          content: "";
          border-radius: 100%;
          transition:
              background 450ms ease,
              transform 450ms ease;
      }


      &:before {
          width: calc(#{$input-width} / 2);
          height: $input-height;
          background: url('../../../assets/icon/map.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-color: $input-bg-pseudo-static;
      }

      &:after {
          width: calc(#{$input-width} / 2);
          height: $input-height;
      }


      &:checked {
          &:before {
              background: url('../../../assets/icon/riod_transparent.svg');
              background-repeat: no-repeat;
              background-position: center;
              //background-color: $input-bg-pseudo-static;
              transform: translateX(100%);
          }
      }
  }