.over {
    background-color: #383838;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#btn1 {
    width: calc(50% - 15px);
    height: 40px;
    float: left;
    border-radius: 20px;
    background: url('../../../assets/icon/start-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

#btn2 {
    width: calc((50% - 20px)/2);
    float: left;
    height: 40px;
    margin-left: 15px;
    border-radius: 20px;
    background: url('../../../assets/icon/save.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
}

#btn3 {
    width: calc((50% - 20px)/2);
    float: left;
    height: 40px;
    margin-left: 15px;
    border-radius: 20px;
    background: url('../../../assets/icon/cancel.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4F4F4F;
}

h3 {}